:root {
  --beige: #e1dcc6;
  --orange: #fcb903;
  --blanc: white;
  --gris: rgb(104, 100, 100);
  --rouge: #cb5052;
  --noir: black;
}

/* html {
  scroll-behavior: smooth;
} */

* {
  font-family: "Roboto Slab";
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--beige);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.page {
  animation: apparition 1s ease-out;
}

/* Apparition */
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* page index */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  background-color: var(--orange);
  color: var(--blanc);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 20px;
}

button {
  position: relative;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  left: 50%;
  top: 300px;
}

button a {
  text-decoration: none;
}

div h1:hover {
  color: var(--orange);
  background-color: white;
}

/*header*/

header {
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--noir);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: var(--blanc);
  cursor: pointer;
}

nav a:hover {
  border-bottom: 3px solid var(--orange);
}

nav span {
  font-size: 20px;
  color: var(--blanc);
  cursor: pointer;
  transform: rotateY(180deg);
  padding-left: 15px;
}

nav span:hover {
  color: var(--orange);
}

/*page accueil*/

.hero {
  color: var(--gris);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero .text {
  text-align: justify;
  width: 35vw;
  line-height: 1.5em;
}

.hero img {
  width: 55vw;
  height: auto;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 30px var(--gris);
}

.img_container {
  position: relative;
  text-align: center;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: var(--gris);
  background-color: var(--orange);
  font-size: 15px;
}

@media (max-width: 400px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .text {
    width: fit-content;
  }

  img {
    margin-top: 20px;
    width: 85vw;
    height: auto;
  }
}

/*page affiches*/

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.cards_container img {
  height: 550px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  outline: none;
  box-shadow: 0 0 10px var(--gris);
}

.container {
  position: relative;
}

.on_image {
  position: absolute;
  bottom: 200px;
  color: var(--beige);
  padding: 10%;
  font-size: 50px;
  opacity: 0;
}

.container:hover .on_image {
  color: var(--blanc);
  background-color: var(--orange);
  opacity: 1;
}

.container:hover img {
  opacity: 0.3;
  cursor: pointer;
}

/*page résumés*/

.critiques_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.critiques_container iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.film_container {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 55%;
}

.text_container {
  background-color: var(--bck);
  outline: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: var(--orange);
}

.text_container p {
  font-size: 15px;
  padding: 10px;
  line-height: 1.5em;
}

.text_container h3 {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

.text_container:hover {
  background-color: #f0d486;
}

/* page contact */

.form_container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.form {
  border-radius: 10px;
  background-color: var(--orange);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 60%;
}

input[type="text"],
select,
textarea {
  font-size: 15px;
  color: var(--gris);
  width: 100%;
  padding: 12px;
  outline: none;
  border: #e1dcc6;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--rouge);
  box-shadow: 0 0 10px var(--beige);
  color: var(--blanc);
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 5px;
  outline: none;
  border: #e1dcc6;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--beige);
}

/* page actualité */

.actu_container {
  background-color: var(--orange);
  padding-left: 30px;
  padding-right: 30px;
  height: 2920px;
}

.actu_container iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* page ressources */

.main {
  color: var(--noir);
  display: flex;
  width: 100vw;
}

.right_container {
  width: 20vw;
  padding-left: 40px;
}

.bloc1,
.bloc2 {
  width: 70vw;
  padding: 30px;
  padding-top: 10px;
}

.article_container h5,
.article_container p {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 15px;
}

.bloc1 h3,
.bloc2 h3 {
  text-transform: uppercase;
  color: var(--noir);
}

.article_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  padding: 20px;
  background-color: #fcb903;
  margin-bottom: 10px;
  border-radius: 10px;
}

.article_container:hover {
  background-color: #f0d486;
}

.left_container h3 {
  padding-bottom: 20px;
}

/*footer*/

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--noir);
  color: var(--blanc);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: var(--blanc);
}

footer a:hover {
  border-bottom: 3px solid var(--orange);
}
